@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

* {
    font-family: "Rubik", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin h2Heading {
    color: white;
    font-size: 3rem;
    line-height: 120%;

    @media (min-width: 767px) {
        width: 90%;
    }
}

.wrapper {
    width: 95%;
    margin: 0 auto;

    @media (min-width: 767px) {
        width: 90%;
    }
}

.heroSection {
    background-color: #0d0d2b;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0rem;

        div {
            display: flex;
            gap: 1em;
            align-items: center;

            h2 {
                font-weight: 500;
                color: white;
                font-size: 1rem;
            }
        }

        .desktop-menu {
            display: none;

            @media (min-width: 767px) {
                display: block;
            }
        }

        .mobile-menu {
            @media (min-width: 767px) {
                display: none;
            }
        }
    }

    .hero {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;

        @media (min-width: 767px) {
            flex-direction: row;
        }

        div {
            @media (min-width: 767px) {
                width: 50%;
            }
        }

        .padded-p {
            padding: 0.5rem;
            color: white;
            background-color: #ffffff1a;
            width: fit-content;
            border-radius: 30px;
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1.5rem;
            font-weight: 400;

            .coloredSpan {
                color: #0d0d2b;
                background-color: white;
                padding: 0.5rem 1rem;
                border-radius: 20px;
            }
        }

        h2 {
            @include h2Heading();
        }

        .little-p {
            color: #e0e0e0;
            line-height: 155%;
            font-weight: 300;

            @media (min-width: 767px) {
                width: 80%;
            }
        }

        .btn-p {
            color: white;
            background-color: #3671e9;
        }
    }

    .iconSection{
        padding: 2rem 0rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-around;

        @media (min-width: 767px) {
            flex-direction: row;
        }

        .iconCard{
            display: flex;
            gap: 1.5rem;
            align-items: center;
            justify-content: center;

            h2{
                @include h2Heading()
            }

            p{
                color: #E0E0E0;
                line-height: 155%;
            }
        }
    }
}
